*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: burlywood;
    padding: 10px;
    margin-bottom: 50px;
}

h1{
    font-size: 45px;
    color: aliceblue;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
}

.app{
    background: url(../src/images/farm.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

.taskCard{
    width: 250px;
    padding: 10px 25px;
    margin:10px 1%;
    background-color:lightgrey;
    border-radius: 5px;
}

.taskCardInputArea{
    margin-bottom: 10px;
    width: 30%;
    cursor: pointer;
}

.cardTitleInput{
    width: 80px;
    font-size: 1.1rem;
    padding: 4px 6px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.addTaskInput{
    width: 100%;
    font-size: 1.3rem;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.taskBox {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(75, 75, 75, 1);
    padding: 17px 0px;
    margin-top: 10px;
    border-radius: 5px;
}

.taskText {
    margin-left:12px;
}

.taskTrashButton {
    cursor: pointer;
    margin-right:9px;
    border: 0px;
}

.taskCardsArea{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.addTaskCardButtonArea {
    margin-left: 1%;
    margin-top: 25px;
}

.addTaskCardButton {
    padding: 10px 18px;
    border-radius: 50%;
    font-size: 30px;
    background-color: rgb(221, 194, 162);
    border: 1px solid black;
    box-shadow: 3px 3px 8px 1px black;
    transition: 0.3s;
    cursor: pointer;
}

.addTaskCardButton:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.deleteTaskCardButtonArea{
    float: right;
}

.taskCardTitleAndBtn{
    display: flex;
    justify-content:space-between;
}

.taskCardDeleteButton{
    color: rgb(158, 46, 46);
    cursor: pointer;
    background-color: lightgrey;
    border: none;
    outline: none;
    font-size: 16px;
}